body {
    display: flex;
    flex-wrap: column;
    justify-content: center;
    align-items: center;
    background-image: url("./images/wavebackground.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h3 {
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;    
}

.signup {
    padding: 4px;
    width: 300px;
}
.signup-wrapper {
    border: 3px solid #546E7A;
    border-radius: 5px;
    margin-top: 60px;
    width: 450px;
    height: 530px;
    max-width: 90vw;
    backdrop-filter: blur(10px);
}

.signup-form {
    position: absolute;
    top: 100px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    max-width: 90vw;
}
.signup-button {
   margin: 10px;
}
.login-wrapper {
    border: 3px solid #546E7A;
    border-radius: 5px;
    margin-top: 100px;
    width: 450px;
    height: 400px;
    max-width: 90vw;
    backdrop-filter: blur(10px);
}

.login-container {
    padding: 10px;
    position: absolute;
    top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    max-width: 90vw;
}

.login {
    padding: 4px;
}

.loginbtn {
    margin: 6px;
}

.btn-container {
    display: flex;
}
