.modal {
    position: absolute;
    top: 100px;
    left: 15vw;
    width: 70vw;
    height: 70vh;
    /* z-index: 2; */
    background-color: aqua;
    overflow: scroll;
    border: 3px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 20px 20px 20px;
}

.modal-box {
    /* position: absolute; */
    /* width: 50%;
    min-width: 310px;
    max-width: 700px;
    height: 90%;
    background-color: white;
    border: solid #444444;
    z-index: 4;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px; */
}

.modal-background {
    /* position: fixed;
    background-color: rgba(9,9,9,0.5);
    backdrop-filter: blur(20px);
    z-index: 3;
    width: 100%;
    height: 100%; */
}